.App {
  font-family: Arial, sans-serif;
  text-align: center;
  height: 100vh; /* Full viewport height */
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(173, 246, 222);
}

h1 {
  margin: 10px 0;
  font-size: 24px;
  color: #333;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 items per row */
  gap: 15px; /* Adjust gap for better spacing */
  flex: 1; /* Ensures it occupies the remaining space */
  padding: 10px;
  box-sizing: border-box;
}

.pagination {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.pagination button {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination span {
  font-size: 16px;
  font-weight: bold;
}
